<!DOCTYPE html>
<html>
<!doctype html>
<html lang="en">

<head>
  <%- include ('includes/header.ejs') %>
</head>

<body>
  <%- include ('includes/navigation.ejs') %>
    <div class='container' style='min-height: 450px'>
      <h2> Command Injection:</h2>
      <p> User supplied input directly passed to exec function without santization.</p>
      <h5> Vulnerable Code:</h5>
      <h5>
        <pre class="prettyprint">

  const exec = require('child_process').exec
  ....  
  const ping = req.body.ping;
  exec('ping -c 3 ' + req.body.ping, function (err, stdout, stderr){
    output = stdout + stderr;
    console.log(output)
    res.render('ping', {
      output: output
    });
  })

</pre>
      </h5>
      <form action="/ping" method="POST">
        <input type="text" name="ping" placeholder="google.com">
        <input type="submit" value="ping">
      </form>
      <% if (output) { %>
        <br>
        <p> Command Output </p>
        <pre>
<%= output %>
</pre>
        <% } %>
          </h3>
</body>

</html>